<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/templatemo-edu-meeting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/lightbox.css') }}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="teacher_dashboard" class="logo">
                          Edu Meeting
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="teacher_dashboard" class="active">Home</a></li>
                          <li><a href="view_demo_class_requests">Demo Class</a></li>
                          <li class="scroll-to-section"><a href="#books">E-Books</a></li>
                          <li ><a href="bookings">Booking Details</a></li> 
                          <li ><a href="bookings">E-Book Bookings</a></li> 
                          <li ><a href="teacher_view_reviews">Reviews</a></li> 
                          <li class="scroll-to-section"><a href="#contact">Add Demo Class</a></li> 
                          <li class=""><a href="parent_teacher_logout">Logout</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{{ url_for('static',filename='assets/images/course-video.mp4') }}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hello Students</h6>
              <h2>Welcome to Education</h2>
              <p>This is an edu meeting HTML CSS template provided by <a rel="nofollow" href="https://templatemo.com/page/1" target="_blank">TemplateMo website</a>. This is a Bootstrap v5.1.3 layout. The video background is taken from Pexels website, a group of young people by <a rel="nofollow" href="https://www.pexels.com/@pressmaster" target="_blank">Pressmaster</a>.</p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="{{ url_for('static',filename='assets/images/service-icon-01.png') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Best Education</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{{ url_for('static',filename='assets/images/service-icon-02.png') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Best Teachers</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{{ url_for('static',filename='assets/images/service-icon-03.png') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Best Students</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{{ url_for('static',filename='assets/images/service-icon-02.png') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Online Meeting</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{{ url_for('static',filename='assets/images/service-icon-03.png') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Best Networking</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Student Details</h2>
          </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="categories">
            <h4>Meeting Catgories</h4>
            <ul>
              <li><a href="#">Sed tempus enim leo</a></li>
              <li><a href="#">Aenean molestie quis</a></li>
              <li><a href="#">Cras et metus vestibulum</a></li>
              <li><a href="#">Nam et condimentum</a></li>
              <li><a href="#">Phasellus nec sapien</a></li>
            </ul>
            <div class="main-button-red">
              <a href="meetings.html">All Upcoming Meetings</a>
            </div>
          </div>
        </div> -->
        <div class="col-lg-12">
          <div class="row">
            {%  for teacher in bookings %}

            <div class="col-lg-4">
              <div class="accordions is-first-expanded">
                <article class="accordion">
                    <div class="accordion-head">
                        <span>Student Profile</span>
                        <span class="icon">
                            <i class="icon fa fa-chevron-right"></i>
                        </span>
                    </div>
                    <div class="accordion-body">
                        <div class="content">
                            <p>Name : {{teacher.demo_class_request.student.sname}}</p>
                            <p>Name : {{teacher.demo_class_request.demo_class.subject}}</p>
                            <p>Name : {{teacher.demo_class_request.demo_class.class_details}}</p>
                            
                        </div>
                    </div>
                </article>
                <article class="accordion">
                    <div class="accordion-head">
                        <span>Days and Times</span>
                        <span class="icon">
                            <i class="icon fa fa-chevron-right"></i>

                        </span>
                    </div>
                    <div class="accordion-body">
                        <div class="content">
                          <p>{{teacher.teacher.available_days}}</p>
                         <p>{{teacher.time}}</p>
                         <p></p>
                        </div>
                    </div>
                </article>
                <article class="accordion last-accordion">
                    <div class="accordion-head">
                        <span>Link And Demo Class</span>
                        <span class="icon">
                            <i class="icon fa fa-chevron-right"></i>
                        </span>
                    </div>
                    <div class="accordion-body">
                        <div class="content">
                          <p><a rel="nofollow" href="{{ url_for('static', filename='uploads/' + teacher.demo_class_request.class_link) }}" target="_blank">View Class Link</a></p>
                          <p><a rel="nofollow" href="{{ url_for('static', filename='uploads/' + teacher.demo_class_request.demo_class.video) }}" target="_blank">View Class Link</a></p>
                          

                        </div>
                    </div>
                </article>
            </div>
            </div>     
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="meetings-page" id="books">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h2 style="text-align: center;">E-books</h2>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                {% for book in books %}

                <div class="col-lg-4 templatemo-item-col all" id="{{book.id}}">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                      </div>
                      <a href="meeting-details.html"><img src="{{ url_for('static' ,filename='uploads/'+book.image) }}" alt=""></a>
                    </div>
                    <div class="down-content">
                      <h4>{{book.book_name}}</h4>
                      <p>Author : {{book.author}}</p>
                      <p>Publication : {{book.publication}}</p>
                      <p>Subject : {{book.subject}}</p>
                      <p><a href="teacher_book_requests/{{book.id}}">Book</a></p>
              

                    </div>
                  </div>
                </div>
                {% endfor %}

              
              
             
              
           
            
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Collected E-Books</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            {% for book in book_bookings %}
            <div class="item col-lg-3">
              <img src="{{ url_for('static' ,filename='uploads/'+book.book.image) }}" alt="Course One">
              <div class="down-content">
                <h4>{{book.book.book_name}}</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-12">
                      {{book.book.subject}}
                    </div>
              
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2></h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">{{all_booking}}</div>
                    <div class="count-title">Teacher Bookings</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">{{all_demo}}</div>
                    <div class="count-title">Demo Classes</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">{{all_std}}</div>
                    <div class="count-title">All Students</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">{{all_teacher}}</div>
                    <div class="count-title">Teachers</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="{{ url_for('static',filename='assets/images/play-icon.png') }}" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="add_demo_video" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Add your Demo videos</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="name" placeholder="Subject...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="class_details" type="text" id="email"  placeholder="Class details..." required="">
                  </fieldset>
                  </div>
    
                  <div class="col-lg-12">
                    <fieldset>
                      <label for="upload" class="btn btn-primary " tabindex="0">
                        <span class="d-none d-sm-block">Upload Demo video</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input
                          type="file"
                          id="upload"
                          class="account-file-input"
                          hidden
                          name="file"
                        />
                      </label>
                      <!-- <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea> -->
                       <!-- <input type="file" name="file" id=""> -->
                    </fieldset>
                  </div>
                  <div class="col-lg-12 mt-5">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">Add</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              {% for std in students %}
              <li>
                <h6>{{ std.sname }}</h6>
                <span>{{ std.clad }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static',filename='assets/js/isotope.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/lightbox.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/tabs.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/video.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/slick-slider.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/custom.js') }}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>